   .One {
    color: white;
    background-color: green;
    border: none;
    transition: padding-left 0.5s,
        padding-right 0.5s;    
    }

    .One:hover {
    padding-left: 10px;
    padding-right: 10px;
    }

    .Two {
    color: white;
    background-color: blue;
    border: none; 
    transition: padding-left 0.5s,
        padding-right 0.5s;   
    }

    .Two:hover {
    padding-left: 10px;
    padding-right: 10px;
    }

    .Three {
    color: white;
    background-color: red;
    border: none;  
    transition: padding-left 0.5s,
        padding-right 0.5s;  
    }

    .Three:hover {
    padding-left: 10px;
    padding-right: 10px;
    }