        p {
            font-family: Arial;
            margin-top: 0;
            margin-bottom:  0px;
        }
        .video-title {
          font-weight: bold;
          font-size: 18px;
          width: 300px;
          line-height: 24px;
          margin-bottom: 5px;
        }
    
        .video-views {
          font-size: 14px;
          color: rgb(96, 96, 96);
          margin-bottom: 20;
        }
    
        .channel-name {
          font-size: 14px;
          color: rgb(96, 96, 96);
          margin-bottom: 20;
        }
    
        .video-description {
          font-size: 14px;
          color: rgb(96, 96, 96);
          width: 280px;
          line-height: 22px;
          margin-bottom: 100;
        }
    
        .Apple-text {
          font-size: 14px;
          color: white;
          background-color: rgb(227, 65, 64);
          margin-bottom: 20;
          padding: 20px;
          text-align: center;
        }
        
        .Apple-link
        {
            cursor: pointer;    
        }
        
        .Apple-link:hover
        {
            text-decoration: underline;
        }